{% extends "base.html" %}


{% block content %}

    <div class="container">

        <h1 id="helper-classes" class="page-header">Perfil</h1>

        <form class="form-horizontal" method="POST" enctype="multipart/form-data">

          {% csrf_token %}

          {% if form.errors and request.method == "POST" %}
              <p><span>Se han encontrado los siguientes errores</span></p>
              <ul class="user-msg error">
              {% for field in form %}
                  {% for error in field.errors %}
                      <li>
                        {% if field != '__all__' %}
                          <strong>{{ field.label }}:</strong>
                        {% endif %}
                        {{ error }}
                      </li>
                  {% endfor %}
              {% endfor %}
              </ul>
          {% endif %}

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">Imagen</label>
            <div class="col-sm-10">
              <img src="{{ profile.avatar.url }}" />
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Nueva Imagen</label>
            <div class="col-sm-10">
              {{ form.image|addclass:"form-control" }}
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Save</button>
            </div>
          </div>
        </form>

    </div> <!-- /container -->


{% endblock %}

